<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Game Flight</title>
		<style media="screen">
			canvas {
				border: 1px black solid;
				position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
			}
		</style>

	</head>
	<body>
		<canvas id="id-canvas" width="320" height="568"></canvas>

		<script src="static/common/resourse_manager.js"></script>
		<script src="static/common/event_manager.js"></script>
		<script src="static/common/util.js"></script>
		<script src="static/scene/base_scene.js"></script>
		<script src="static/scene/scene.js"></script>
		<script src="static/scene/scene_start.js"></script>
		<script src="static/scene/scene_end.js"></script>
		<script src="static/entity/slice_image.js"></script>
		<script src="static/entity/animation.js"></script>
		<script src="static/entity/flight.js"></script>
		<script src="static/entity/bullet.js"></script>
		<script src="static/entity/enemy.js"></script>
		<script src="static/entity/start_bg.js"></script>
		<script src="static/config/global_config.js"></script>
		<script src="static/config/global_string.js"></script>
		<script src="static/config/config_manager.js"></script>
		<script src="static/main.js"></script>
	</body>
</html>
